.main{
    width: 30%;
    min-width: 350px;
    height: 10%;
    min-height: 50px;
    background-image: linear-gradient(15deg, rgb(36, 142, 230, 0.5), rgb(6, 3, 141, 0.5));

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 0.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    font-size: 16px;
}
.icon{
    background-image: url("../images/task.png");
    background-size: cover;
    width: 5em;
    height: 5em;
    position: absolute;
    top: -4em;
}
.logoutButton{
    position: relative;
    right: 1%;
    width: 5em;
    height: 2.5em;
    font-size: 1.2em;
    border-radius: 0.2em;

    outline: none;
    background-image: linear-gradient(15deg, rgb(238, 144, 37), rgb(192, 78, 2));
    border: none;
}
.logoutButton:active{
    box-shadow: 0px 0px 10px 1px #ffffff;
}
.form{
    margin-top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.taskInput{
    font-size: 1.2em;
    text-align: center;
    width: 63%;
    min-height: 1em;

    border-radius: 0.5vw;
    border: none;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    
    outline: none;

    background-color: rgba(245,245,245,0.8);
}
.taskInput:focus{
    background-color: rgba(245,245,245,1);
}
.addButton{
    font-size: 1.2em;
    margin-left: 2vw;

    outline: none;
    text-decoration: none;
    border: none;

    border-radius: 0.2vw;
    width: 3em;
    height: 1.5em;
}
.addButton:active{
    box-shadow: 0px 0px 20px 2px #e28213;
}